* {
    padding: 0;
    margin: 0;
}

main {
    padding-top: 10%;
    display: flex;
    gap: 10em;
    align-items: center;
}

.logo {
    font-size: 250pt;
}

h2 {
    font-size: 25pt;
    margin-bottom: 15px;
}

.happening {
    font-size: 50pt;
    line-height: 1;
    margin-bottom: 25px;
}

nav {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

button {
    border-radius: 1.5em;
    padding: 0.7em;
    height: 40px;
    font-weight: bolder;
    background-color: #ffffff;
}

button:hover {
    cursor: pointer;
}

.awesome {
    display: flex;
    gap: 0.3em;
    justify-content: center;
    align-items: center;
    border: 1px solid #d2d9de;
}

.awesome:hover {
    background-color: #e6e6e6;
}

button > i {
    font-size: 20px;
}
button:nth-child(2) > i {
    font-size: 25px;
}

button:nth-child(4) {
    background-color: #5a9bed;
    border: none;
    color: #ffffff;
}

button:nth-child(4):hover {
    background-color: #4A87D1;
}

button:nth-child(7) {
    color: #5a9bed;
    border: 1px solid #d2d9de;
}

button:nth-child(7):hover {
    background-color: #D9E8FA;
}

button:nth-child(9) {
    color: #5a9bed;
    border: 1px solid #d2d9de;
}

button:nth-child(9):hover {
    background-color: #D9E8FA;
}

.separator {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.separator > * {
    margin: 0;
    padding: 0;
}

hr {
    flex-grow: 1;
}

.terms{
    font-size: 8pt;
    margin-bottom: 25px;
}

.terms > a{
    text-decoration: none;
}

ul {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

ul > * {
    display: block;
    line-height: 1;
    text-align: center;
}

li > a {
    text-decoration: none;
    color: black;
}
a > i {
    font-size: 8pt;
}


.flexli {
    display: flex;
    align-items: center;
    gap: 3px;
}
