.wrapperMajor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    padding: 2em;
    border-radius: 1em;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.header > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.header i {
    color: black;
    padding: 0.5em;
    text-align: center;
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
    font-size: 24px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.header i:hover {
    background-color: #e6e6e6;
}

.logo {
    margin: 0 auto;
    font-size: 40pt;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    flex-grow: 1;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.upperDiv {
    display: flex;
    flex-direction: column;
}

.emailState {
    margin: 2em 0;
    background-color: #f7f9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    border-radius: 0.4em;
}

.emailState > p{
    color: #abb1b8;
}

.password {
    border: 1px solid #d2d9de;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 0.4em;
    gap: 0.2em;
}

.arrow {
    display: flex;
    gap: 0.2em;
    color: #5a9bed;
}

.inputWrapper {
    display: flex;
    gap: 0.4em;
}

.inputWrapper > i:hover {
    cursor: pointer;
}

.pass {
    flex-grow: 1;
    padding: 0.3em;
    border: none;
}

.forgot{
    line-height: 0;
    padding: 1em;
}

.forgot > a {
    text-decoration: none;
    color: #5a9bed;
}

.forgot > a:hover {
    text-decoration: underline;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.login>a {
    background-color: #88898c;
    text-align: center;
    padding: 1em;
    border-radius: 1.8em;
    color: #ffffff;
    text-decoration: none;
}

.signup {
    display: flex;
    gap: 0.3em;
}

.signup > a{
    text-decoration: none;
    color: #5a9bed;
}
.signup >p {
    color: #88898c;
}